body {
  font-family: 'Cormorant', serif;
  font-weight: bold;
  color: black;
}

body a {
  text-decoration: none;
  color: inherit;
}

body a:hover {
  color: pink;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(autofill, minmax(4, 1fr));
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: span 1;
  list-style-type: none;
}

.main {
  grid-column-start: 2;
  grid-column-end: span 3;
  padding-top: 1em;
}

.icons {
  padding-bottom: 2em;
}

.icons a {
  padding-right: 3em;
}

.clips p {
  padding: 0;
  margin: 0;
}

.multiple-clips {
  margin-bottom: -10px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project {
  grid-column-start: 1;
  grid-column-end: span 1;
}

.project-inner {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  max-width: 20em;
  width: 100%;
  height: auto;
}

.project-inner:hover .image {
  opacity: 0;
  transition: 0.5s ease;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.project-inner:hover .overlay {
  opacity: 1;
}

.mobile-image {
  display: block;
  max-width: 30em;
  width: 100%;
  height: auto;
}

.mobile-overlay {
}
